USE [attendance_system]
GO
/****** Object:  Table [dbo].[attendance]    Script Date: 2026/4/1 10:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [varchar](20) NOT NULL,
	[student_name] [varchar](50) NOT NULL,
	[course_id] [varchar](20) NOT NULL,
	[check_in_time] [datetime] NOT NULL,
	[seat_row] [tinyint] NULL,
	[seat_col] [tinyint] NULL,
	[status] [varchar](20) NOT NULL,
	[ip] [varchar](15) NULL,
	[create_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course]    Script Date: 2026/4/1 10:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course](
	[course_id] [varchar](20) NOT NULL,
	[course_name] [varchar](100) NOT NULL,
	[class_name] [varchar](50) NOT NULL,
	[teacher_id] [bigint] NOT NULL,
	[classroom_name] [varchar](50) NULL,
	[rows] [tinyint] NULL,
	[cols] [tinyint] NULL,
	[exclude_seats] [varchar](200) NULL,
	[weekday] [tinyint] NULL,
	[start_week] [int] NULL,
	[end_week] [int] NULL,
	[create_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_selection]    Script Date: 2026/4/1 10:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_selection](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [varchar](20) NOT NULL,
	[student_name] [varchar](50) NOT NULL,
	[gender] [char](2) NULL,
	[course_id] [varchar](20) NOT NULL,
	[select_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2026/4/1 10:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[real_name] [varchar](50) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[create_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[attendance] ADD  DEFAULT ('NORMAL') FOR [status]
GO
ALTER TABLE [dbo].[attendance] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[course] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[course_selection] ADD  DEFAULT (getdate()) FOR [select_time]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('TEACHER') FOR [role]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [create_time]
GO
ALTER TABLE [dbo].[attendance]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[course] ([course_id])
GO
ALTER TABLE [dbo].[course]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[course_selection]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[course] ([course_id])
GO
